.refresh {
	float: right;
}

.no_padding caption,h4,p,.pagination {
	margin-left: 10px;
}

.table caption {
	color: white;
}

.remark {
	max-width: 120px;
}

.pay_status_yes {
	color: #00EC00;
}

.pay_status_no {
	color: red;
	font-weight: bold;
}