/******************** Basic Styles ********************/
body {
	background-image: url("../img/body_bg.jpg");
	color: white;
}

a {
	color: #90d7ec;
}

a:HOVER,
a:FOCUS {
	color: white;
}

/******************** Global Styles ********************/
.pagination > li > a,
.pagination > li > span {
	background-color: rgba(0,0,0,0.2);
	color: white;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #337ab7;
  background-color: #eee;
  border-color: white;
}

/******************** My Styles ********************/
.my_container {
	width: 630px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

.my_row {
	background: rgba(0,0,0,0.4);
	padding: 10px;
}

/******************** Property Styles ********************/
.top_space {
	margin-top: 10px;
}

.no_padding {
	padding: 0;
}